doctype html
html(lang='en', prefix="og: http://ogp.me/ns#")
  head
    // Meta info
    title ISS Tracker
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='theme-color', content='#FFF')
    
    meta(property='og:site_name', content='ISS Tracker')
    meta(property='og:type', content='website')
    meta(property='fb:app_id', content='311721029548646')
    block opengraph
    
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-133321501-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-133321501-2');
    
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // Leaflet
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.4/dist/leaflet.css', integrity='sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==', crossorigin='')
    // Make sure you put this AFTER Leaflet's CSS
    script(src='https://unpkg.com/leaflet@1.3.4/dist/leaflet.js', integrity='sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==', crossorigin='')
    script(src='/javascripts/functions.js')
    script(src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js', charset='utf-8')
    // Mapbox
    script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js')
    link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css', rel='stylesheet')
    // Local Stylesheets
    block localcss
    // Global Stylesheets 
    link(rel='stylesheet', type='text/css', href='/stylesheets/styles.css')
    link(rel='icon', href='/images/iss-icon-black.png', type='image/x-icon')
  
  body
    // NAVBAR
    div#topheader
      nav#navbar.navbar.navbar-expand-sm.navbar-light.bg-light
        .container
          a.navbar-brand(href='/')
            img(src='/images/iss-icon-black.png', width='20', height='20', alt='ISS Tracker')
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item.isstracker.active
                a.nav-link(href='/') ISS Tracker
              li.nav-item.photos
                a.nav-link(href='/photos') Photos 
              //- li.nav-item.hubble
              //-   a.nav-link(href='/hubble-telescope') Hubble Telescope
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href='https://lx-proto.tk') Created By
              li.nav-item
                a.nav-link(href='https://github.com/alexberndt')
                  i.fa.fa-github
              li.nav-item
                a.nav-link(href='https://www.linkedin.com/in/alexander-berndt/')
                  i.fa.fa-linkedin
    
    // MAIN BODY CONTENT           
    block bodycontent
    
    // FOOTER
    footer.footer
      .container
        address.text-center
          | Copyright © 
          script.
            document.write(new Date().getFullYear().toString());
    
    // JAVASCRIPT
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    // Optional JavaScript
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    // Local javascript files 
    block localjavascript
